---
---

html {
  font-size: 100%;
}

.container {
  margin: auto;
  max-width: 740px;
  padding: 12px;
  width: 100%;
}

a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

.masthead {
  padding: 10px 0;
  border-bottom: 0.5px solid #eee;
}

nav {
  float: right;

  a {
    margin-right: 20px;
    text-align: right;
    color: #333;
  }
}

.entry {
  margin-top: 8px;
}

@import "highlights";