<!DOCTYPE html>
<html>

<head>
  <title>{% if page.title %}{{ page.title }}{% endif %}{{ site.name }}</title>
  <link rel="stylesheet" href="https://unpkg.com/@coreui/icons/css/brand.min.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  {% if page.math %}
  {% include mathjax.html %}
  {% endif %}
</head>

<body>
  <div class="container">
    <header class="masthead">
      <a href="{{ site.baseurl }}/">All Problems</a>
      <nav>
        <a href="https://nasang.github.io">About</a>
      </nav>
    </header>
  </div>

  <div id="main" role="main" class="container">
    {{ content }}
  </div>
</body>

</html>